/* global styling */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", Times, serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #00091a;
}

/* h1 {
  font-size: 5.062rem;
} */
/* h2 {
  font-size: 3.375rem;
} */

/* h3 {
  font-size: 2.25rem;
} */

/* h4 {
  font-size: 2.25rem;
} */

/* p {
  font-size: 1rem;
} */

/* p .xs {
  font-size: 0.667rem;
} */

body {
  color: white;
  height: 100vh;
}

/* link styling */
a,
a:visited {
  color: white;
  text-decoration: none;
}

/* Header styling */
header {
  padding-left: 10.4vw;
  padding-right: 10.4vw;
  /* border: 1px dashed red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  height: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 16px 32px;
  font-size: 2.25rem;
}

/* Main */
.hero-section {
  background-color: #444;
  background-image: url(/img/bg/picture2.webp);
  background-size: cover;

  height: 100vh;
}

.call-to-action {
  background-color: #444;
  background-image: url(/img/bg/picture1.webp);
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: white;
}

/* Festivals section */

/* Reviews section */

/* Footer */
footer {
  border: 1px solid lightblue;
}
footer {
  padding-left: 10.4vw;
  padding-right: 10.4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .logo {
  margin-right: auto;
  cursor: pointer;
  height: auto;
}

footer .nav-links li {
  padding: 16px 32px;
  font-size: 1.5rem;
}
