/* global styling */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
p,
td {
  text-shadow: 3px 1px 2px rgb(0, 0, 0);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
}

/* set default margin and padding to 0 and set font family */
html {
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", Times, serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #00091a;
  color: white;
}

/* link styling */
a,
a:visited {
  color: white;
  text-decoration: none;
}

label {
  font-size: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  margin-bottom: 16px;
}

/* ======================= Header ======================= */

.nav-header {
  display: grid;
  grid-auto-flow: column;
  justify-items: space-between;
  align-content: center;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-item li {
  padding-inline: 20px;
}

.nav-item {
  cursor: pointer;
}

/* ======================= Header end ====================== */

/* ========================= Footer ======================== */
.nav-footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.nav-item {
  font-size: 2rem;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.social-container a img {
  padding-inline: 16px;
  max-height: 32px;
}

.copyright {
  align-self: center;
}
/* ======================= Footer end ====================== */

/* ======================= Main page ======================= */

/* === Hero section === */
.hero-section {
  min-height: 90vh;
  background-color: #444;
  background-image: url(/img/bg/picture2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.hero-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-splash img {
  height: 32rem;
  filter: drop-shadow(0px 1px 3px #000000);
}

.hero-reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.bio-section {
}

/* === CTA section === */

.cta-section {
  min-height: 80vh;
  background-color: #444;
  background-image: url(/img/bg/picture1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/* === Reviews section === */
.cta-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.call-to-action-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-self: center;
  gap: 8px;
  margin-bottom: 16px;
}

.review {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  backdrop-filter: blur(7px);
  border: 1.5px solid white;
  border-radius: 10px;
  max-width: fit-content;
  min-width: min-content;
}

/* === Reviews section end === */

/* ===================== Main page end ===================== */

/* ======================= Tour page ======================= */

/* === Tour schedule - section === */
.tour-section {
  min-height: 100vh;
  background-color: #444;
  background-image: url(/img/bg/picture3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.tour-schedule {
  display: grid;
  grid-auto-flow: row;
}

.tour-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid white;
  backdrop-filter: blur(7px);
  border: 1px solid rgb(255, 255, 255);
  background-color: #4444447e;
}
.tour-row td {
  font-size: 1.5rem;
}

.subscribe-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
  gap: 16px;
  padding: 16px;

  border-radius: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  margin-bottom: 16px;
}

/* === Tour schedule - section end === */

/* ======================= Tour page end ======================= */

/* ====================== Discography page ==================== */
.discography-section {
  min-height: 100vh;
  background-color: #444;
  background-image: url(/img/bg/picture4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
}

.album-card {
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 16px;
  padding: 16px;
}

.album-card img {
  width: 100%;
}

.disco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 16px;
}

/* ====================== Discography page ==================== */

/* ======================= Contact page ======================= */

.contact-section {
  min-height: 100vh;
  background-color: #444;
  background-image: url(/img/bg/picture4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  border-radius: 10px;
  border: 1px solid white;
  backdrop-filter: blur(7px);
  padding: 16px;
  margin: 32px;
}
.form-header {
  grid-column: 1/-1;
}
.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-group-full-width {
  grid-column: 1/-1;
}

.form-header {
  text-align: center;
}

.submit-button {
  justify-self: center;
}
/* ======================= Contact page end ======================= */

/* === Components buttons, fields etc. === */
input[type="submit"] {
  cursor: pointer;
  font-family: "Crimson Text", Times, serif;
  font-size: 1.5rem;

  border: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(238, 62, 18);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

input[type="email"] {
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 1rem;
  color: grey;
  border: 1px solid black;
  border-radius: 8px;
}
input[type="text"] {
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 1rem;
  color: grey;
  border: 1px solid black;
  border-radius: 8px;
}

input[type="tel"] {
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 1rem;
  color: grey;
  border: 1px solid black;
  border-radius: 8px;
}

input[type="date"] {
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 1rem;
  color: grey;
  border: 1px solid black;
  border-radius: 8px;
}

textarea {
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 1rem;
  color: grey;
  border: 1px solid black;
  border-radius: 8px;
}

button {
  cursor: pointer;
  font-family: "Crimson Text", Times, serif;
  font-size: 1.5rem;

  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgb(238, 62, 18);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

/* === Components buttons, fields etc. end === */

/* === Media queries === */
@media screen and (max-width: 430px) {
  /* Navigation @ width 430px */
  .nav-footer {
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    font-size: 120%;
  }
  .nav-header {
    align-items: center;
  }
  .nav-item {
    flex-direction: column;
    font-size: 170%;
  }
  .nav-header > img {
    width: 80%;
  }
  /* generic sections @ width 430px */
  section {
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  /* hero-section @ width 430px */
  .hero-section h2 {
    font-size: 20%;
  }

  .hero-section p {
    font-size: 150%;
    line-height: 1.2;
  }

  .hero-section img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* bio-section @ width 430px */
  .bio-section p {
    font-size: 140%;
    text-align: center;
    line-height: 1.4;
  }

  /* Call-to-action @ width 430px */

  .call-to-action-section {
    flex-direction: column;
  }

  /* review-section @ width 430px */
  .review-section {
    gap: 8px;
    margin-bottom: 16px;
  }

  .review {
    padding: 1rem;
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
  }

  .review h2 {
    font-size: 250%;
  }

  .review p {
    font-size: 150%;
  }

  /* Tour-schedule @ 430px */
  .tour-row {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    margin: 8px;
  }
  /* contact-page @ 430px */
  .contact-form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-self: center;
  }
}
/* === Media queries end === */
